
.action-controls {
    display: flex;
    justify-content: flex-end;
}

.form-container {
    max-width: 700px;
    margin: auto;
}


.form-btns {
    display: flex;
    justify-content: flex-end;
}

.date-article {
    display: flex;
    justify-content: flex-end;
}

.view-icon:hover {
    cursor: pointer !important;
    color: #007bff;
}

.image-detail {
    max-width: 100%;
    max-height: 200px;
}
